

.fornt
{
    margin-left: 50px;
    font-size: large;
}
.td
{
	width: 15%;
	padding: 0.7em;
	background-color: rgb(214, 214, 214);
}
.carts{
	padding: 5%;
}

table
{
	width: 100%;
}
#
.content table .items{
	font-weight: lighter;
}
.tr
{
	width: 8%;
	padding: 0.7em;
	background-color: rgb(214, 214, 214);
}
.tongtien
{
	width: 15%;
    padding: 0.7em;
    font-weight: bolder;
    font-size: larger;
}
.btn {
	color: #ffffff;
	font-weight: bold;
}
.colorr{
	font-weight: bolder;
}
tr.fa-trash-alt:hover{
	font-size: 6ex;
	color: #ff0000;
}
























