



.content p{
	font-weight: lighter;
}
.td
{
	width: 15%;
	padding: 0.7em;
	background-color: rgb(214, 214, 214);
}
table
{
	width: 100%;
}
.content table .items{
	font-weight: lighter;
}
.tr
{
	width: 8%;
	padding: 0.7em;
	background-color: rgb(214, 214, 214);
}
.tongtien
{
	width: 15%;
	padding: 0.7em;
}
.tieude
{
	font-size: x-large;
	font-weight: bolder;
	padding: 0.7em;
}
#info{
	margin-left: 100px;
	width: 60%;
	float: left;
}
#contain{
	overflow: hidden;
}
#status
{
	border-top:7px solid rgb(2, 66, 2);
	border-bottom: 1px solid rgb(2, 66, 2) ;
	border-left: 1px solid rgb(2, 66, 2) ;
	border-right:  1px solid rgb(2, 66, 2) ;
}
#user-info{
	border: 1px solid  rgb(2, 66, 2);
	height: 450px;
	border-bottom: 1px solid rgb(2, 66, 2) ;
}
#cart
{
	margin-right: 100px;
	float: right;
	width: 27%;
	border-top:7px solid rgb(2, 66, 2);
	border-bottom: 1px solid rgb(2, 66, 2) ;
	border-left: 1px solid rgb(2, 66, 2) ;
	border-right:  1px solid rgb(2, 66, 2) ;
	height: auto;
}
#info-cast{
	margin-top:40%;
	width:60% ;
	margin-left: 100px;
	height: 350px;
}
#headcast{
	border-top:7px solid rgb(2, 66, 2);
	border-bottom: 1px solid rgb(2, 66, 2) ;
	border-left: 1px solid rgb(2, 66, 2) ;
	border-right:  1px solid rgb(2, 66, 2) ;
	height:auto;
}
#contentcast{
	border: 1px solid rgb(2, 66, 2) ;
}
#hoadon{
	border-top:7px solid rgb(2, 66, 2);
	border-bottom: 1px solid rgb(2, 66, 2) ;
	border-left: 1px solid rgb(2, 66, 2) ;
	border-right:  1px solid rgb(2, 66, 2) ;
	margin-top:0%;
	width:60% ;
	margin-left: 100px;
	height: auto;
	margin-bottom: 2%;
}
#detail{
	float: right;
	width: 28%;
	margin-right: 3%;


}
#headdetail{
	
	border-top:7px solid rgb(2, 66, 2);
	border-bottom: 1px solid rgb(2, 66, 2) ;
	border-left: 1px solid rgb(2, 66, 2) ;
	border-right:  1px solid rgb(2, 66, 2) ;
}
#detail-cart{
	padding-top: 5%;
	overflow: hidden;
	border:  1px solid rgb(2, 66, 2) ;
	border-bottom:0px solid green;
}
.col-ca{
	float: left;
	width: 33%;
}
.col-ca:last-child{
	float: right;
}
#sumary{
	border:  1px solid rgb(4, 170, 4) ;
}
#phieugiamgia{
	padding-top: 5%;
	padding-bottom: 5%;
	border: 1px solid rgb(2, 66, 2) ;;
	height: auto;
}
#use{

	float: right;
	width: 30%;
	height: 40px;
	color:  white ;
	cursor: pointer;
	background-color:  rgb(2, 66, 2) ;
	margin-right: 3%;

}
#giamgia{
	
	margin-left: 2%;
	width: 65%;
}
#phivanchuyen{
	border: 1px solid  rgb(2, 66, 2) ;
	padding-top: 5%;
	padding-bottom: 1%;
	height: auto;
}
#thanhtien{
	overflow: hidden;
	border: 1px solid  rgb(2, 66, 2) ;
	padding-top: 5%;
	padding-bottom: 1%;
	height: auto;
}

#pprice{
	float: right;
	margin-top: -10%;

}

input{
	margin-left: 20px;
	width: 96%;
	height: 40px;
	border-radius: 3px;
}
.check{
	margin-left: 5%;
	width: 5%;
	height: auto;
}
#xuat{
	padding: 1em;

}
select{
	margin-left: 20px;
	width: 96%;
	height: 40px;
	border-radius: 3px;
}
