*{
	
	
}
.content{
	width: 100%;
	height: 100%;
}
.container-fluid .content .content-product .top-sold .top-sold-content{
	padding: 3%;
}
.container-fluid .content .content-product .top-sold .top-sold-content .top-sold-product {
 padding: 1ex 3.5ex 2ex 3.5ex;
}	

/*Paging*/
.content .content__paging{
    display: flex;
    margin-top: 6ex;
    justify-content: center;
    align-items: center;


}

/* .content .content__paging .page{
    flex-grow: 1;
} */

.content .content__paging .page-config{
    margin-right: 30px;
}

.content .content__paging .page-config select{
    width: 50px;
    height: 25px;
    border-radius: 3px;
}

.content .content__paging .total-item , .total-page{
    margin-right: 30px;
}

.content .content__paging .number-page{
    display: flex;
}

.content .content__paging ul{
    display: flex;
    justify-content: center;
}

.content .content__paging li{
   width: 30px;
   height: 30px;
   border-radius: 3px;
   border: 1px solid gray;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1ex;
   cursor: pointer;
}

.content .content__paging ul li a{
    color:black;
}

.btn-active{
    color: #c6c9cc;
    border: solid 1px #c6c9cc !important;
}

.content .content__paging .active{
    background: #068a2e;
    border: 1px solid #045a28;
}

.content .content__paging .active a{
    color: white;
}

/*Sale*/
.container-fluid .content .content-product .top-sold .top-sold-content .top-sold-product .top-sold-items .badge-pill .badge-danger{
    font-size: 7ex;
    font-weight: bold;
    color: #045a28;
}